<ng-include src="'/static/partial/navbar.html'"></ng-include>
<div class="container sub-navbar">
    <ul class="row">
        <a href="#"><li class="col-xs-6 active">タイムライン</li></a>
        <a href="#"><li class="col-xs-6">ピックリスト ({{ picked.length }})</li></a>
    </ul>
</div>
<div id="content-body">
    <div class="container">
        <ul class="row" id="articles">
            <li class="col-sm-6 col-md-4" ng-repeat="article in articles">
                <a href="/#/articles/{{ article.id }}">
                    <div class="article">
                        <div>
                            <div class="article-thumbnail" style="background-image: url({{ article.thumbnail }})"></div>
                            <div class="article-title">{{ article.title }}</div>
                        <div class="article-spec">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="article-source">{{ article.source }}</div>
                                    <div class="article-pubdate">{{ article.pubdate }}</div>
                                    <div class="article-people">
                                        <img src="http://graph.facebook.com/naoya.ishimura/picture"><img src="http://graph.facebook.com/naoya.ishimura/picture"><img src="http://graph.facebook.com/naoya.ishimura/picture">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <a data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal" ng-click="pick(article)">
                                        <div class="article-pick" ng-switch on ="article.picked">
                                            <div ng-switch-when="true" class="true">
                                                <i class="fa fa-thumb-tack fa-rotate-270"></i>
                                                <div><span>PICK</span></div>
                                            </div>
                                            <div ng-switch-default class="false">
                                                <i class="fa fa-thumb-tack"></i>
                                                <div><span>PICK</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="article-comment">
                                いまはまだアプリのチューニングなのでなんたらかんたら
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
